#gameover {
    text-align: center;
    max-width:  50rem;
    display: flex;
    flex-direction: column;
}

#gameover h2, #gameover p {
    margin-bottom: 1rem;
}

#gameover p {
    font-weight: bold;
    color: #496b34;
}

#gameover img {
    margin: 2rem;
    
}
